name: "Deploy Docker"
on:
  workflow_dispatch:

permissions: # https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

env:
  ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
  ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
  ARM_USE_OIDC: true

jobs:
  infrastructure:
    runs-on: ubuntu-latest
    outputs:
      webapp_name: ${{ steps.output.outputs.webapp_name }}
      docker_login_server: ${{ steps.output.outputs.docker_login_server }}
      stage_slot_url: ${{ steps.output.outputs.stage_slot_url }}
      resource_group_name: ${{ steps.output.outputs.resource_group_name }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.11.0

      - name: Terraform Init
        working-directory: ./infrastructure
        run: terraform init -backend-config="backend.tfvars"

      - name: 'Terraform Output'
        id: output
        working-directory: ./infrastructure
        run: |
          webapp_name=$(terraform output -raw webapp_name)
          docker_login_server=$(terraform output -raw docker_login_server)
          stage_slot_url=$(terraform output -raw stage_slot_url)
          resource_group_name=$(terraform output -raw resource_group_name)
          echo "resource_group_name=${resource_group_name}" >> $GITHUB_OUTPUT
          echo "webapp_name=${webapp_name}" >> $GITHUB_OUTPUT
          echo "docker_login_server=${docker_login_server}" >> $GITHUB_OUTPUT
          echo "stage_slot_url=${stage_slot_url}" >> $GITHUB_OUTPUT

  application:
    runs-on: ubuntu-latest
    needs: infrastructure
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - name: 'Az CLI login'
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}
          environment: azurecloud

      - name: Login to ACR
        run: |
          # docker_login_server is like: myregistry.azurecr.io
          ACR_NAME=$(echo "${{ needs.infrastructure.outputs.docker_login_server }}" | cut -d'.' -f1)
          az acr login --name "$ACR_NAME"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: ${{ needs.infrastructure.outputs.docker_login_server }}/fastapi-cosmos-app:${{ github.sha }}
          build-args: |
            buildHash=${{ github.sha }}

      - uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ needs.infrastructure.outputs.webapp_name }}
          slot-name: 'stage'
          images: ${{ needs.infrastructure.outputs.docker_login_server }}/fastapi-cosmos-app:${{ github.sha }}

      - name: Health check
        uses: jtalk/url-health-check-action@v4
        with:
          url: ${{ needs.infrastructure.outputs.stage_slot_url }}/health/${{ github.sha }}
          retry-all: true
          max-attempts: 10
          retry-delay: 5s

      - name: Azure Swap Slots
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az webapp deployment slot swap --slot stage --name ${{ needs.infrastructure.outputs.webapp_name }} --resource-group ${{ needs.infrastructure.outputs.resource_group_name }}
      
